<a href="https://colab.research.google.com/github/Dilson0721/apc1/blob/main/Avalia%C3%A7%C3%A3oA1_Dilson_CC_07jun24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nome: Dilson Ribeiro de Souza

RGM: 38240106

Tema: Análise de Dados Redes Sociais

In [ ]:
#1 Apresente em tela toda a base de dados.

import pandas as pd

dados = {
    'Usuário': ['João', 'Andressa', 'Henrique', 'Maria Luiza', 'Renan', 'Laura Martins','Pedro'],
    'Plataforma': ['Twitter', 'Facebook', 'TikTok', 'Twitter', 'Facebook','TikTok','Instagram'],
    'Conteúdo': ['Esportes', 'Jogos', 'Desafio', 'Política', 'Entretenimento','Dança','Live'],
    'Curtidas': [120, 300, 150, 20, 500,2000, 1200],
    'Compartilhamentos': [30, 50, 25, 2, 100,1500,500],
    'Avaliação da Plataforma': ['Excelente', 'Bom', 'Excelente', 'Ruim', 'Excelente', 'Bom','Otimo']
}

df = pd.DataFrame(dados)

df_styled = df.style.set_properties(**{'text-align': 'center'})

display(df_styled)

In [ ]:
# 2. Apresente o tamanho do seu dataframe (quantas linhas X colunas).
print("Tamanho do DataFrame:", df.shape)

Tamanho do DataFrame: (7, 6)

In [ ]:
# 3. Acesse a linha (x) e apresente em tela todas as características do item.
row_index = 2
temp_df = pd.DataFrame(df.loc[row_index]).T

styled_row = temp_df.style.set_properties(**{'text-align': 'center'})

display(styled_row)

In [ ]:
# 4. Verifique se o dataframe está vazio.
print("DataFrame está vazio?", df.empty)

DataFrame está vazio? False

In [ ]:
# 5. Apresente em tela os 5 primeiros registros da base de dados.
styled_df = df.head().style.set_table_styles(
    [{'selector': 'td', 'props': [('text-align', 'center')]}]
)
display(styled_df)

In [ ]:
# 6. Exclua um item (linha) de sua base de dados.
df_excluido = df.drop(1)

styled_df_excluido = df_excluido.style.set_table_styles(
    [{'selector': 'td', 'props': [('text-align', 'center')]}]
)
display(styled_df_excluido)

In [ ]:
# 7. Adicione um item (linha) na sua base de dados.
df = pd.DataFrame(dados)

nova_linha = {'Usuário': 'Thiago Reis',
              'Plataforma': 'YouTube',
              'Conteúdo': 'Vlogs',
              'Curtidas': 150000,
              'Compartilhamentos': 7500,
              'Avaliação da Plataforma': 'Ótimo'}

df.loc[len(df)] = nova_linha

df_styled = df.style.set_properties(**{'text-align': 'center'})
display(df_styled)

In [ ]:
# 8. Transponha a coluna para a linha em sua base de dados.
df_pivot = df.pivot_table(index=None, columns='Usuário', aggfunc='first')

styled_df_pivot = df_pivot.style.set_table_styles(
    [{'selector': 'td', 'props': [('text-align', 'center')]}]
)

display(styled_df_pivot)

In [ ]:
# 9. Apresente em tela somente a 1ª e a 2ª coluna (rótulo) da base de dados.

df_subset = df.iloc[:, :2]

styled_df = df_subset.style.set_properties(**{'text-align': 'center'})
display(styled_df)